[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
restframework = "*"
framework = "*"
djangorestframework = "*"
mysqlclient = "*"
router = "*"
django = "*"
restframework-simplejwt = "*"
djoser = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
